@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
:root{
    --overlay-opacity: 0.7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Oxanium", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    background: transparent !important;
    background-color: transparent !important;
}
.loadingscreen{
    width: 100%;
    height: 100%;
}
#dot1, #dot2, #dot3 {
    font-size: 2.5vh;
    animation: fade 2s infinite ease-in-out;
}
#dot2 {
    animation-delay: 0.4s;
}
#dot3 {
    animation-delay: 0.8s;
}
.topBar, .bottomBar{
    width: 100%;
    height: 50vh;
    background-color: black;
    transition: 0.5s;
}
.progressbar-inner{
    position: relative;
    height: 100%;
    background: linear-gradient(to right, var(--opacity-primary) 40%, var(--primary), var(--opacity-primary) 60%);
    background-size: 200% 100%;
    border-radius: 3px;
    animation: gradientMove 1.4s linear infinite;
    transition: 0.3s;
}
.slider{
    -webkit-appearance: none;
    appearance: none;
    background: var(--opacity-primary);
    border: 1px solid var(--primary);
    outline: none;
    opacity: 0.9;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.3s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    width: 1.3vh;
    height: 1.3vh;
    -webkit-appearance: none;
    background: var(--primary);
    border: 1.4px solid rgba(0, 0, 0, 0.6);
    border-radius: 2.4px;
    box-shadow: -80px 0 0 80px var(--primary);
    opacity: 0.7;
    cursor: pointer;
}
.videoWrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.videoWrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, var(--overlay-opacity));
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -200% 0%;
    }
}